# Mac
.DS_Store

# Go
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/backend/monitor-backend
/agent/monitor-agent

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

vendor/